*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #151515;
    
}
.bg-nf{
    background-color: #2b2b2b;
    color: #fff;
}
.register-overviews-container{
    background-image: url("https://github.com/atulya-karn/image/blob/main/registerbg.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}
.register-form-container{
    border-radius: 0px 10px 10px 0px;
}
.register-form label{
    padding-bottom: 0.4rem;
}
.form_input{
    margin-bottom: 1rem;
    padding: 6px;
}
.login-container{
    background-color: #2b2b2b;
    border-radius: 10px;
}
.login-formo label{
    color: #fff;
    font-family:sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
.login-inpu{
    margin-top: 7px;
    margin-bottom: 20px;
}
.errorlist > li
{
    color: red;
}

.change-pass label{
    color: #fff;
    padding-bottom: 7px;
}
.change-pass input{
    margin-bottom: 20px;
}
