@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    
}
.nav-title{
    padding: 0px 0px 0px 25px;
    margin-left: 15px;
    font-size: 1.8rem;
    background: -webkit-linear-gradient(#a8c0ff, #3f2b96);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-family: 'Fleur De Leah', curive;
}
.bg-nf{
    background-color: #151515;
    color: #fff;
}
.register-overviews-container{
    background-image: url("https://github.com/atulya-karn/image/blob/main/registerbg.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}
.register-form-container{
    border-radius: 0px 10px 10px 0px;
}
.register-form label{
    padding-bottom: 0.4rem;
}
.form_input{
    margin-bottom: 1rem;
    padding: 6px;
}
.login-container{
    background-color: #151515;
    border-radius: 10px;
}
.login-formo label{
    color: #fff;
    font-family:sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
.login-inpu{
    margin-top: 7px;
    margin-bottom: 20px;
}
.errorlist > li
{
    color: red;
}

.change-pass label{
    color: #fff;
    padding-bottom: 7px;
}
.change-pass input{
    margin-bottom: 20px;
}

.pass-reset label{
    color: #fff;
    padding-bottom: 7px;
}
.pass-reset input{
    margin-bottom: 20px;
}

.home-bg-container{
    background-image: url("https://raw.githubusercontent.com/atulya-karn/image/main/home_bg_image.png");
    background-size: cover;
    background-repeat: no-repeat;
}
 /* Portrait mobiles */
@media (max-width: 580px) {

    .home-bg-container { display: none; }
    .register-overviews-container { display: none; }

}



.home-container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.6rem;
}

.login-btn{
    padding: 0.8rem 3.6rem 0.8rem 3.6rem;
    background-color: black;
    border: 2px solid #39C0ED;
    color: #39C0ED;
    font-size: 1rem;

}

.login-btn:hover{
    background-color: #39C0ED;
    color: black;
}

.signup-btn{
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    background-color: black;
    border: 2px solid #39C0ED;
    color: #39C0ED;
    font-size: 1rem;
}

.signup-btn:hover{
    background-color: #39C0ED;
    color: black;
}

/* The sidepanel menu */
.sidepanel {
    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
  

.sidebar-listing:hover{
      padding-left: 20px;
      background-color: #210fbd;
      color: #fff;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* Style the button that is used to open the sidepanel */
.openbtn {
    background-color: #151515;
    color: white;
    border: none;
    margin-right:2vw;
}

/* Style for logout btn */
.logout-btn:hover 
{
    background-color: red;
    color: white;
}

.dark-text
{
    color: rgb(167, 177, 177);
}

.container 
{
    margin-left: 6%;
}

.content-container
{
    transition: 1s;
}

.content-container:hover
{
    transform: scale(1.019);
}