{% extends "resources/base.html" %}

{% block title %}
<title> College Space </title>
{% endblock title %}

 {% block content %}
<div
  class="p-5 text-center bg-image"
  style="
    background-image: url('https://github.com/atulya-karn/image/blob/main/edbak.jpg?raw=true');
    height: 70vh;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3"> College Space </h1>
        <h4 class="mb-3"> See all study resources at your finger tip  </h4>
        <a class="btn btn-outline-light btn-lg" href="#dashbord-menu" role="button"
          >Let's Start</a
        >
      </div>
    </div>
  </div>
</div>
</div>

<div class="conatiner m-5" id="dashbord-menu">

  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'subjects'%}">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header"> Subject </div>
        <div class="card-body">
          <p class="card-text" > View all resources. </p>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-6">
      <a href="{% url 'syllabus'%}">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header"> Syllabus  </div>
          <div class="card-body">
          <p class="card-text" >Download Syllabus for this semester. </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'subjects'%}">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header"> Contribution </div>
        <div class="card-body">
          <p class="card-text" > Contribute and help others. </p>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-6">
      <a href="{% url 'syllabus'%}">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header"> Teams </div>
          <div class="card-body">
          <p class="card-text" > Meet our team.</p>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>

{% endblock content %}

