{% extends "resources/base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
<title> College Space | Get Department&Semester Info  </title>
{% endblock title %} 

{% block content %}
<div class="container mt-5 " style='min-height:75vh'>
  <div class="row justify-content-center">
    <div class="col-md-5 p-5 align-self-center login-container">
      <form method="POST" class="login-formo" action="{{next_url}}">
        {% csrf_token %} {{ form | crispy }}
        <div class="mt-4">
          <button type="submit" class="btn btn-primary"> Proceed </button>
        </div>
      </form>
      <div class="container-fluid mt-3" style="color: white;">
          <div class="row">
              <h4> OR </h4>
          </div>
          <div class="row ">
              Update Your Profile to see content personalised for you!
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}