{% extends "resources/base.html" %}

{% block title %}
<title>College Space | Home </title>
{% endblock title %}

{% block content %}

<div class="container my-4 text-white" style="min-height:75vh">
    <div class="row p-5">
      <div class="col-md-4 offset-md-2 home-container">
        <h1>Your learning journey starts here.</h1>
        <h5>Signup to start your learning process on College Space</h5>
        <a class="btn mt-3 login-btn"href="{% url 'login' %}">Login</a>
        <a class="btn mt-3 ms-3 signup-btn"href="{% url 'register' %}">Sign up</a>
      </div>
      <div class="col-md-5 home-bg-container pt-5"></div>   
      </div>

      <div class="row">
        <div class = "container about mt-5 border border-primary rounded p-3">
          <h2> About</h2>
          <p> 
            Balancing life as a student means that time management and study resources are of utmost importance. When you have to hit deadlines, study for tests, maintain good grades, read for classes, and write papers, there are a lot of moving pieces throughout your educational journey, so it helps to instill good habits and practice tools to alleviate the burdensome load of student life.
            Our Motive is to  provide all Your <i>Solution of your question </i> at one place. And we will Work on that and you can also contribute to help others. </p>
        </div>
      
      
    </div>
  </div>
{% endblock content %}
