{% extends "resources/base.html" %}

{% block title %}
<title> College Space | Notes </title>
{% endblock title %}

{% block content %} 

<div class="container p-2 mt-3">
    <button  onclick="location.href='{% url 'subjects' %}'" type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">🔙 Back</button>
    <div class="container mt-4">
        <h4 class="text-center"> Show all Notes list here {{ subject.name }} </h4>
    </div>
</div>


  <div class="container">
    {% for user,notes in notes.items %} 
    <h3> Contributed by {{ user }} </h3>
    <p> Notes information here </p>
    {% for note in notes %} 
    <h5> Topic-{{ note.topic }} </h5>
    <a href=" {{ note.url }}">Download Link </a>
    {% endfor %}
    {% endfor %} 
</div>
{% endblock content %} 