{% extends "resources/base.html" %}

{% block title %}
<title> College Space | Notes </title>
{% endblock title %}

{% block content %}
<div class="container">
    {% if error %}
    <div class="container ">
        <h5 class="alert alert-info mt-5">{{ error }} </h5>
    </div>
    {% else %}
    <!--Start Notes table -->
    {% if notes %}
    <div class="container mt-2">
        <h2 class="text-center text-info font-italic "> Notes </h2>
        <hr style="border: 2px; margin: auto; width: 60%;" class="text-warning">
        <div class="table-responsive-sm mt-3">
            <table class="table table-striped table-hover table-bordered mt-1 text-center table-dark">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-2"> Topic </th>
                        <th scope="col" class="col-md-2"> Contributed by </th>
                        <th scope="col" class="col-md-1"> Download Link </th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                    <tr>
                        <td>{{ note.topic_name }} </td>
                        <td>{{ note.contributor}}</td>
                        <td><a href="{{ note.view_link }} " class="btn btn-info" target="_blank"> Download </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}
    {% endif %}
    <!--End notes table -->
</div>

{% endblock content %}