{% extends "resources/base.html" %}

{% block title %}
<title> College Space | Question Paper </title>
{% endblock title %}

{% block content %}
<div class="container">

    {% if error %}
    <div class="container ">
        <h5 class="alert alert-info mt-5">{{ error }} </h5>
    </div>
    {% else %}

    <!--Start Question table -->
    {% if question_papers %}
    <div class="container mt-2">
        <h2 class="text-center text-info font-italic "> Question Papers </h2>
        <hr style="border: 2px; margin: auto; width: 60%;" class="text-warning">
        <div class="table-responsive-sm mt-3">
            <table class="table table-striped table-hover table-bordered mt-1 text-center table-dark">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-1"> Year </th>
                        <th scope="col" class="col-md-2"> Contributor </th>
                        <th scope="col" class="col-md-1"> View Link </th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in question_papers %}
                    <tr>
                        <td>{{ question.year }} </td>
                        <td>{{ question.contributor }}</td>
                        <td><a href="{{ question.view_link }} " class="btn btn-info" target="_blank"> Download </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    
    {% endif %}
    {% endif %}
    <!--End Question table -->
</div>

{% endblock content %}