{% extends "resources/base.html" %}  

{% block title %} 
{% endblock title %} 

{% block content %} 


<div class="container p-2 mt-3">
    <button  onclick="location.href='{% url 'subjects' %}'" type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">🔙 Back</button>
    {% comment %} Books container start {% endcomment %}
    <div class="container mt-4">
        <h4 class="text-center"> BOOKS </h4>
        <table class="table table-striped table-hover table-bordered mt-1 text-center">
            <thead  class="">
                <tr>
                <th scope="col" class="col-5">Name</th>
                <th scope="col" class="col-4" >Author</th>
                <th scope="col" class="col-1">Rating</th>
                <th scope="col"  class="col-2" >Download link</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                <td>{{ book.name }} </td>
                <td>{{ book.author }}</td>
                <td><span style="font-size:1.5em;">{{ book.rating }}</span> ⭐ </td>
                <td><a href=" {{ book.link }}" class="btn btn-info">Download </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% comment %} End books container {% endcomment %}


    {% comment %} Start web tutorials {% endcomment %}
    <div class="container mt-5">
        <h4 class="text-center"> WEB TUTORIALS </h4>
        <table class="table table-striped table-hover table-bordered mt-1 text-center">
            <thead  class="">
                <tr>
                <th scope="col" class="col-5">Name</th>
                <th scope="col" class="col-4" >Author</th>
                <th scope="col" class="col-1">Rating</th>
                <th scope="col"  class="col-2" >Download link</th>
                </tr>
            </thead>
            <tbody>
            {% for web_tutorial in web_tutorials %}
                <tr>
                <td>{{ web_tutorial.name }} </td>
                <td>{{ web_tutorial.author }}</td>
                <td><span style="font-size:1.5em;">{{ web_tutorial.rating }}</span> ⭐ </td>
                <td><a href=" {{ web_tutorial.link }}" class="btn btn-info">Download </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% comment %} End web tutorials {% endcomment %}
</div>
{% endblock content %} 