{% extends "resources/base.html" %}

{% block title %}
<title> College Space | Study Materials </title>
{% endblock title %} 

{% block content %}
    <div class = "container">
        {% if syllabus_link %}
        <div class="shadow-lg p-3 mb-5 mt-5 bg-white rounded">
        <a href="{{ syllabus_link }}" target="_blank" class="btn btn-primary" role="button"> View Syllabus </a>
        </div>
        {% endif %}

        <!-- Subject lists -->
        <h6> This is all you have to read in this semester. </h6>
        
        <table class="table shadow-lg table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr class="table-info">
            <th scope="col">Subject Code</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Credit</th>
            <th scope="col">Link For Study</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
            <td scope="row">{{ subject.sub_code  }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.credit }}</td>
            <td><a href="#" class="btn btn-primary" role="button">  Study Resources </a></td>
            </tr>
            {% endfor %}
            
        </tbody>
        </table>
    </div>
<a></a>


{% endblock content %} 