{% extends "resources/base.html" %}

{% block title %}
<title> College Space | Subjects </title>
{% endblock title %} 

{% block content %}

   {% include "resources/dept_sem_snippet.html" with form=form %}
    
    <div class = "container  mt-1" style="min-height:50vh" >
        {% if subjects %}
            <div class="row"  >
                {% for subject in subjects %}
                    <div class="col-md-5 card mx-auto border my-3 text-white bg-dark" >
                        <div class="card-header text-center p-3">
                        <h3> {{ subject.subject__name }} </h3>
                        </div>

                        <div class="card-body ">
                            <div class="d-flex justify-content-between">
                                <p class="card-text">Code : {{ subject.subject__code  }}</span></p>
                                <p class="card-text">Credit:{{ subject.subject__credit }}</span></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <form action="{% url 'videos' %}">
                                    <button name="subject_code" type="submit" value="{{ subject.code }}" class="btn btn-secondary"> Video Tutorials </button>
                                </form>
                                <form action="{% url 'notes' %}">
                                    <button name="subject_code" type="submit" value="{{ subject.code }}" class="btn btn-secondary"> Notes </button>
                                </form>
                                <form action="{% url 'reading_tutorials' %}">
                                    <button name="subject_code" type="submit" value="{{ subject.code }}" class="btn btn-secondary"> Reading Tutorials </button>
                                </form>                    
                            </div>
                            <div class=" mt-2">
                                <form action="{% url 'question_papers' %}">
                                    <button name="subject_code" type="submit" value="{{ subject.code }}" class="btn btn-primary  btn-block"> Question Paper </button>
                                </form>
                            </div>
                                
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %} 
        <div  class="container mt-5 text-center" style="min-height:44vh" >
            <h2> No subjects available! Sorry </h2>
        </div>
        
        {% endif %} 
    </div>
{% endblock content %} 