{% extends "resources/base.html" %}

{% block title %}
<title> College Space | Syllabus </title>
{% endblock title %} 

{% block content %}
{% include "resources/dept_sem_snippet.html" with form=form %}
    <div class = "container mt-4">
        {% if view_link %}
        <div class="row">
            <a href="{{view_link}}">
                <button class="btn btn-primary"> Download Syllabus </button>
            </a>
        </div>
        {% else %} 
        <h2> Syllabus is not available! We will upload soon. </h2>
        {% endif %} 
    </div>
{% endblock content %} 