{% extends "resources/base.html" %}

{% block title %}
<title>College Space | Teams </title>
{% endblock title %}

{% block content %} 
    <div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
        <div class="our-team">
            <div class="picture">
            <img class="img-fluid" src="https://github.com/jaak072/profilepic/blob/main/jawed.jpg?raw=true">
            </div>
            <div class="team-content">
            <h3 class="name text-info">Jawed Akhtar</h3>
            <h4 class="title">UI/UX Interface</h4>
            </div>
            <ul class="social">
            <li><a href="https://www.facebook.com/profile.php?id=100012557472659" class="fab fa-facebook" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-instagram" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
            </ul>
        </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
        <div class="our-team">
            <div class="picture">
            <img class="img-fluid" src="https://github.com/jaak072/profilepic/blob/main/upendra.jpg?raw=true">
            </div>
            <div class="team-content">
            <h3 class="name  text-info">Upendra Kumar</h3>
            <h4 class="title">System Design</h4>
            </div>
            <ul class="social">
            <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-instagram" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
            </ul>
        </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
        <div class="our-team">
            <div class="picture">
            <img class="img-fluid" src="https://github.com/jaak072/profilepic/blob/main/atulya%20(2).jpg?raw=truev" style="height:170px; width170px">
            </div>
            <div class="team-content">
            <h3 class="name text-info">Atulya Kumar</h3>
            <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
            <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-instagram" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
            </ul>
        </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
        <div class="our-team">
            <div class="picture">
            <img class="img-fluid" src="https://github.com/jaak072/profilepic/blob/main/ganja%20(2).jpg?raw=true">
            </div>
            <div class="team-content">
            <h3 class="name text-info">Himanshu Prakash</h3>
            <h4 class="title">Deployment & Maintenance</h4>
            </div>
            <ul class="social">
            <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-instagram" aria-hidden="true"></a></li>
            <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>
{% endblock content %} 