{% extends "resources/base.html" %}

{% block title %}
<title>College Space | Teams </title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="/static/img/team/jawed.jpg"
                    style="height:170px; width:170px">
                </div>
                <div class="team-content">
                    <h3 class="name text-info">Jawed Akhtar</h3>
                    <h4 class="title">UI/UX Interface</h4>
                </div>
                <ul class="social">
                    <li><a href="https://www.facebook.com/profile.php?id=100012557472659" class="fab fa-facebook"
                            aria-hidden="true"></a></li>
                    <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
                    <li><a href="https://github.com/jaak072" class="fab fa-github" aria-hidden="true"></a></li>
                    <li><a href="https://www.linkedin.com/in/jaak072/" class="fab fa-linkedin" aria-hidden="true"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="/static/img/team/upendra.jpg"
                    style="height:170px; width:170px">
                </div>
                <div class="team-content">
                    <h3 class="name  text-info">Upendra Kumar</h3>
                    <h4 class="title">System Design</h4>
                </div>
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
                    <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
                    <li><a href="https://github.com/Upendra0" class="fab fa-github" aria-hidden="true"></a></li>
                    <li><a href="https://www.linkedin.com/in/upendra-12-kumar/" class="fab fa-linkedin"
                            aria-hidden="true"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid"
                        src="/static/img/team/atulyak.jpg"
                        style="height:170px; width:170px">
                </div>
                <div class="team-content">
                    <h3 class="name text-info">Atulya Kumar</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
                    <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
                    <li><a href="https://github.com/atulya-karn" class="fab fa-github" aria-hidden="true"></a></li>
                    <li><a href="https://www.linkedin.com/in/atulya-kumar/" class="fab fa-linkedin"
                            aria-hidden="true"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid"
                        src="/static/img/team/Himashu.jpeg"
                        style="height:170px; width:170px">
                </div>
                <div class="team-content">
                    <h3 class="name text-info">Himanshu Prakash</h3>
                    <h4 class="title">UI Development</h4>
                </div>
                <ul class="social">
                    <li><a href="https://www.facebook.com/profile.php?id=100008387507195" class="fab fa-facebook" aria-hidden="true"></a></li>
                    <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
                    <li><a href="https://github.com/himanshu-prakash" class="fab fa-github" aria-hidden="true"></a></li>
                    <li><a href="https://www.linkedin.com/in/himanshu-prakash-9396921a8/" class="fab fa-linkedin"
                            aria-hidden="true"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}