{% extends "resources/base.html" %}  

{% block title %} 
<title> College Space | Videos </title>
{% endblock title %} 

{% block content %} 

{% if videos %}
<div class="container mt-5">
    <h4 class="text-center"> Video Tutorials </h4>
    <table class="table table-striped table-hover table-bordered mt-1 text-center table-dark">
        <thead  class="">
            <tr>
            <th scope="col" class="col-md-2">Name</th>
            <th scope="col"  class="col-md-1" > Link</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
            <td>{{ video.name }} </td>
            <td><a href=" {{ video.view_link }}" class="btn btn-info" target="_blank"> Visit </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %} 
<div class="container">
    <h2> Video Lectures will be uploaded Soon!</h2>
</div>
{% endif %}

{% endblock content %} 