{% extends "resources/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title> College Space | Login </title>
{% endblock title %}

{% block content %}
<div class=" container">
  <div class="row ">
    <div class="col-md-8 mt-5 login-overviews-container">
    </div>
    <div class="col-md-4 py-4 login-form-input">
      <form method="POST" class="login-formo">
        {% csrf_token %}

        <div class="form-group">
          <h1 class="text-info pb-2  mt-3 text-center">Log In</h1>
          {% if form.non_field_errors %}
          <ul class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {% autoescape off %}
            <li> <strong> {{ error}} </li> </strong>
            {% endautoescape %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="form-row" style="margin-top:20px">
          <label for="{{ form.username.id_for_label }}"> Email Adress</label>
          {{ form.username }}
          {{ form.username.errors }}
        </div>

        <div class="form-row" style="margin-top:10px">
          <label for=" {{ form.username.id_for_lable}}"> Password </label>
          {{ form.password }}
          {{ form.password.erros }}
        </div>

        <div class="form-row mt-4">
          <a class=" float-start p-2" href="{% url 'password_reset'  %}">Forgot Password?</a>
          <button type="submit" class="btn btn-primary float-end"> Login</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock content %}