{% extends "resources/base.html" %}

{% block content %}
    <div
        class="p-5 text-center bg-image"
        style="
        background-image: url('https://github.com/atulya-karn/image/blob/main/Edfront.jpg?raw=true');
        height: 400px;
        "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            <h1 class="mb-3">College Space</h1>
            <h4 class="mb-3">The Only Space for All enginnering Student</h4>
            <a class="btn btn-outline-light btn-lg" href="{% url 'register' %}" role="button"
                >SIGN UP FOR FREE</a
            >
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
