{% extends "resources/base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
<title> College Space | Password Reset </title>
{% endblock title %} 

{% block content %}
<div class="container" style="min-height:75vh">
  <div class="row justify-content-center mt-5">
    <div class="col-md-5 p-5 align-self-center login-container">
      <form method="POST" class="pass-reset">
        {% csrf_token %} {{ form | crispy }}
        <div class="mt-2">
          <button type="submit" class="btn btn-primary float-end">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
