{% extends "resources/base.html" %} 

{% block title%}
<title>College Space | Register</title>
{% endblock title %}

{% block content %}

  <div class="container" style="min-height:76vh">
    <div class="row">
      <div class="col-5 mt-3">
        <h3 >Profile Settings</h3>
        <form method="POST" class="d-flex flex-column form-group p-3 register-form mt-3" enctype="multipart/form-data">
          {% csrf_token %} 
          {{ form.non_field_errors }}

          <label for="name_input"> First Name :</label>
          {{ form.first_name }}
          {{ form.first_name.errors }}

          <label for="name_input"  class="mt-2"> Last Name : </label>
          {{ form.last_name }}
          {{ form.last_name.errors }}

          <label for="department_input" class="mt-2"> Department :</label>
          {{ form.department }}
          {{ form.department.errors }}

          <label for="semester_input" class="mt-2"> Semester : </label>
          {{ form.semester }}
          {{ form.semester.errors }}

          <div>
            <button type="submit" class="btn btn-primary mt-4"> Update Profile </button>
          </div>


        </form>
      </div>
      <div class="col-4"></div>
      <div class="col-3 text-center">
        <img
          src="{{ user.profile_pic.url }} "
          class="rounded-circle border border-primary"
          height="150"
          width="150"
          alt="Profile_img"
          loading="lazy"
        />
        <h5 class="mt-2">{{user.first_name}}</h5>
        <p class="mt-2  text-center"> {{user.email}}</p>
      </div>
    </div>
  </div>

{% endblock content %}
